@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  background-image: url(../images/bg_main.gif);
  background-position: left top;
  background-repeat: repeat;
  overflow: hidden; }

body {
  color: #000000;
  font-size: 0.75em;
  font-family: Helvetica, "ＭＳ Ｐゴシック", "ヒラギノ角ゴ Pro W3", "MS PGothic", "Hiragino Kaku Gothic Pro", Arial, sans-serif;
  text-align: left;
  -webkit-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -o-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -ms-text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
  letter-spacing: 0.1em; }

::-moz-selection,
::selection {
  background-color: #fe57a1;
  color: #ffffff;
  text-shadow: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1; }

ul,
li {
  list-style: none;
  list-style-position: outside; }

img {
  margin: 0;
  padding: 0;
  border: 0;
  border-style: none;
  text-decoration: none;
  vertical-align: top; }

object,
embed {
  vertical-align: bottom; }

input {
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #1e91d1;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0;
  -moz-transition-property: color;
  -moz-transition-duration: 0.4s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0;
  -o-transition-property: color;
  -o-transition-duration: 0.4s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0;
  -ms-transition-property: color;
  -ms-transition-duration: 0.4s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0;
  transition-property: color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0; }
  a:hover {
    color: #cccccc; }
  a:focus {
    outline: none; }

table,
table th,
table td {
  border-collapse: collapse;
  text-align: left;
  font-weight: normal; }

.clear {
  clear: both; }

.clearfix, #container .section, #container #header .section, #container .tracks {
  zoom: 1; }
  .clearfix::before, #container .section::before, #container #header .section::before, #container .tracks::before, .clearfix::after, #container .section::after, #container #header .section::after, #container .tracks::after {
    content: "";
    display: table; }
  .clearfix::after, #container .section::after, #container #header .section::after, #container .tracks::after {
    clear: both; }

#preloader {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; }
  #preloader .number {
    width: 100px;
    height: 100px;
    margin: -50px 0 0 -50px;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -o-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-image: url(../images/bg_texture.jpg);
    background-position: center center;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden; }
    #preloader .number span {
      display: block;
      width: 100%;
      height: 100%;
      color: #333333;
      text-align: center;
      line-height: 100px; }
  #preloader ul {
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100px;
    overflow: hidden; }
    #preloader ul li {
      display: inline-block;
      width: 12px;
      height: 12px;
      -webkit-border-radius: 100% 100% 100% 100%;
      -moz-border-radius: 100% 100% 100% 100%;
      -o-border-radius: 100% 100% 100% 100%;
      -ms-border-radius: 100% 100% 100% 100%;
      border-radius: 100% 100% 100% 100%;
      font-size: 1px;
      line-height: 1em;
      filter: alpha(opacity=40);
      -moz-opacity: 0.4;
      opacity: 0.4;
      overflow: hidden; }
      #preloader ul li.color01 {
        background-color: #ffb431; }
      #preloader ul li.color02 {
        background-color: #18ebcc; }
      #preloader ul li.color03 {
        background-color: #d59ff6; }
      #preloader ul li.color04 {
        background-color: #56baff; }
      #preloader ul li.color05 {
        background-color: #acf184; }
      #preloader ul li.color06 {
        background-color: #ffe55d; }
      #preloader ul li.color07 {
        background-color: #ff525d; }

#container {
  width: 980px;
  margin: 0 auto;
  background-image: url(../images/bg_line.gif);
  background-position: center top;
  background-repeat: repeat-y;
  font-weight: lighter; }
  #container .section {
    width: 100%;
    margin: 0 0 5em 0; }
    #container .section h2 {
      padding: 5px 0 0 0;
      border-top: 1px solid #888888;
      font-weight: lighter; }
    #container .section h3 {
      padding: 0 0 5px 0;
      font-weight: lighter; }
    #container .section h2 {
      float: left;
      width: 222px; }
    #container .section .figure {
      float: right;
      width: 714px; }
    #container .section .block {
      float: left;
      width: 222px;
      padding: 0 24px 0 0; }
      #container .section .block ul {
        padding: 5px 0 0 0;
        margin: 0 24 0 0;
        border-top: 1px solid #888888; }
    #container .section .twoColumns {
      width: 468px; }
    #container .section .last {
      padding: 0; }
  #container #header {
    width: 960px;
    margin: 0 auto; }
    #container #header .section {
      margin: 0 0 1em 0;
      padding: 5em 0 0 0; }
      #container #header .section h1 {
        float: left;
        width: 666px;
        font-size: 2em;
        font-weight: lighter; }
      #container #header .section .social {
        float: right;
        width: 222px; }
        #container #header .section .social ul li {
          float: left;
          width: 110px; }
  #container #content {
    width: 960px;
    margin: 0 auto; }
  #container #fft {
    width: 100%;
    height: 221px;
    padding: 5px 0 0 0;
    border-top: 1px solid #888888; }
  #container .images ul li {
    padding: 12px 0; }
    #container .images ul li img {
      -webkit-border-radius: 3px 3px 3px 3px;
      -moz-border-radius: 3px 3px 3px 3px;
      -o-border-radius: 3px 3px 3px 3px;
      -ms-border-radius: 3px 3px 3px 3px;
      border-radius: 3px 3px 3px 3px; }
  #container .sample {
    margin: 0 0 3em 0;
    padding: 5px 0 0 0;
    border-top: 1px solid #888888; }
    #container .sample embed,
    #container .sample object {
      display: none; }
  #container #footer {
    width: 960px;
    margin: 0 auto;
    padding: 0.5em 0 3em 0;
    border-top: 1px solid #888888;
    font-size: 0.85em;
    text-align: right; }
    #container #footer address {
      font-style: normal; }

.oldie {
  overflow-y: auto; }
  .oldie #preloader {
    display: none; }
  .oldie #container .sample embed,
  .oldie #container .sample object {
    display: block; }

.ie8 .section {
  display: inline-block; }

.ie9 #preloader {
  display: none; }
